* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: linear-gradient(45deg, black, white, grey, purple, white, black);
    background-size: 300% 300%;
    animation: colors 15s ease;
    flex-direction: column;
}

form {
    background-color: rgba(0, 0, 0, 0.452);
    position: relative;
    padding: 20px;
    border-radius: 40px;
    color: white;
    height: auto;
    margin-top: 60px;
    text-align: center;
}

input {
    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 4px;
    height: 20px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    font-size: 18px;
}

select {
    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 4px;
    height: 30px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

textarea {
    width: 100%;
}

footer {
    margin-top: auto;
    text-align: center;

}

footer img {
    width: 2%;
    height: auto;
    display: inline-block;

}

footer p {
    clear: both;
    background-color: black;
    color: aliceblue;
    width: 100%;
}